<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualize</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        .top-bar {
        background-color: #0d4976;
        overflow: hidden;
        }

        .top-bar a {
            float: left;
            display: block;
            color: white;
            padding: 14px 16px;
        }

        .top-bar a:hover {
            background-color: #013257;
            color: white;
        }
    </style>
</head>
<body>
    <div class="top-bar">
        <div class="top-bar">
            <h1 style="text-align:center; color: azure; size: 20px; display:inline; margin-left: 35%;">Dataset Visualization</h1>
            <a href="/">Home</a>
        </div>
    </div>
    <ul>
        {% for result, value in model_results.items() %}
        <li>
            <p>{{ result }}: {{value}}</p>
        </li>
        {% endfor %}
    </ul>
    <ul>
        {% for path, description in visualize_output.items() %}
            <li>
                <p>{{ description }}:</p>
                <img src="{{ url_for('static', filename=path) }}">
            </li>
        {% endfor %}
    </ul>
</body>
</html>